.story .histoire-story-variant-grid-item > div:nth-child(2) {
    padding: 0;
}

.story .histoire-generic-render-story > div {
    margin: 1rem;
}

#aerogel-overlays-backdrop {
    display: none;
}

#headlessui-portal-root {
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}
