@import 'tailwindcss';
@import '../fonts/ubuntu.css' layer(base);
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@source '../../../../packages/core';

@theme {
    --color-red-grey: #ecdcdc;
    --spacing-clickable: 42px;
}

@layer base {
    html {
        font-family: 'Ubuntu', system-ui, sans-serif;
    }
}
