@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source './';

@theme {
    --color-background: oklch(1 0 0);

    --color-primary: oklch(0.205 0 0);
    --color-primary-50: color-mix(in oklab, var(--color-primary-600) 5%, transparent);
    --color-primary-100: color-mix(in oklab, var(--color-primary-600) 15%, transparent);
    --color-primary-200: color-mix(in oklab, var(--color-primary-600) 30%, transparent);
    --color-primary-300: color-mix(in oklab, var(--color-primary-600) 50%, transparent);
    --color-primary-400: color-mix(in oklab, var(--color-primary-600) 65%, transparent);
    --color-primary-500: color-mix(in oklab, var(--color-primary-600) 80%, transparent);
    --color-primary-600: var(--color-primary);
    --color-primary-700: color-mix(in oklab, var(--color-primary-600) 90%, black);
    --color-primary-800: color-mix(in oklab, var(--color-primary-600) 80%, black);
    --color-primary-900: color-mix(in oklab, var(--color-primary-600) 70%, black);
    --color-primary-950: color-mix(in oklab, var(--color-primary-600) 50%, black);
}

.clickable {
    position: relative;
}

.clickable::after {
    --clickable-size: 44px;
    --clickable-inset-by: min(0px, calc((100% - var(--clickable-size)) / 2));

    content: '';
    position: absolute;
    top: var(--clickable-inset-by);
    left: var(--clickable-inset-by);
    right: var(--clickable-inset-by);
    bottom: var(--clickable-inset-by);
}

input[type='number'].appearance-textfield {
    appearance: textfield;
}

input[type='number'].appearance-textfield::-webkit-outer-spin-button,
input[type='number'].appearance-textfield::-webkit-inner-spin-button {
    appearance: none;
}

button[data-markdown-action] {
    color: var(--tw-prose-links);
    text-decoration: underline;
    font-weight: 500;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes grow {
    0% {
        scale: 0;
    }
    100% {
        opacity: 1;
    }
}
