name: Create Aerogel

on: [push, pull_request]

jobs:
    create-aerogel:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  run_install: false
            - run: pnpm install
            - name: Build packages
              run: |
                  cd packages/cli
                  pnpm build
                  pnpm pack
                  cd ../../

                  cd packages/vite
                  pnpm build
                  pnpm pack
                  cd ../../

                  cd packages/core
                  pnpm build
                  pnpm pack
                  cd ../../

                  cd packages/plugin-i18n
                  pnpm build
                  pnpm pack
                  cd ../../

                  cd packages/plugin-routing
                  pnpm build
                  pnpm pack
                  cd ../../

                  cd packages/plugin-soukai
                  pnpm build
                  pnpm pack
                  cd ../../

                  cd packages/plugin-solid
                  pnpm build
                  pnpm pack
                  cd ../../

                  cd packages/plugin-local-first
                  pnpm build
                  pnpm pack
                  cd ../../

                  cd packages/cypress
                  pnpm build
                  pnpm pack
                  cd ../../
            - name: Create app
              run: |
                  git config --global user.email "john@example.com"
                  git config --global user.name "John Doe"
                  ./packages/cli/bin/gel create app --next --local --copy
                  cd app
                  pnpm install
            - run: pnpm build
              working-directory: app
            - name: Lint
              working-directory: app
              run: |
                  sed -i '47d' ../package.json
                  sed -i '47d' ../package.json
                  sed -i '47d' ../package.json
                  sed -i '47d' ../package.json
                  sed -i '47d' ../package.json
                  pnpm lint
            - run: pnpm test:ci
              working-directory: app
            - name: Cypress
              run: pnpm cy:test
              working-directory: app
            - name: Upload Cypress screenshots
              uses: actions/upload-artifact@v4
              if: ${{ failure() }}
              with:
                  name: cypress_screenshots
                  path: app/cypress/screenshots
